.eventShort {
	width: 100%;
	padding: 0.5rem;

	border: 1px solid var(--fontColorDarkTheme);
	border-radius: 0.2rem;

	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.eventShort:hover {
	cursor: pointer;
}
