.monthView {
	display: grid;
	grid-template-columns: repeat(7, calc(100% / 7));
}

.cell {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	min-height: 5rem;
	padding: 0.5rem;
	border: 1px solid rgba(119, 136, 153, 0.378);
	overflow-x: hidden;
	overflow-y: auto;
}

.current {
	color: var(--fontColorDarkTheme);
	background-color: #fffeee;
}

.selected {
	border-color: crimson;
}

.anotherMonth {
	opacity: 0.5;
	background-color: rgba(119, 136, 153, 0.44);
}

.date {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media (min-width: 600px) {
	.date {
		flex-direction: row;
	}
}
